@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic&display=swap');

body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #50627c;
    padding: 10px;
    border-bottom: none;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px;
}

button, [type="button"] {
    background: none;
}
.main {
    font-family:Arial;
    width:100%;
    display:block;
    margin:0 auto;
}

button:hover, button:focus, [type="button"]:hover {
    background: none;
    border-color: none;
}


.slider .slick-content {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

.slider h1 {
    font-size: 2em;
}

.slider-content h1, .slider-content h2 {
    text-align: center;
}

.glide img {
    object-fit: cover;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

h3 {
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    position: relative;
    text-align: center;
}

#highlights {
    margin-top: 70px;
}
.highlight-cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #dcd9e4;
    text-decoration: none;
}

.card:hover {
    background: #cbd1e9;
}

.card p {
    margin: 20px;
    text-align: center;
    color: #3498db;
}

#contact-form {
	margin: 50px auto;
	display: flex;
	justify-content: center;
}

#name, #email {
	padding: 10px 20px;
	border-radius: 6px;
	border: none;
	background: #ece8f7;
	margin-right: 10px;
}

#name:focus, #email:focus {
	background: #daf0ff;
	outline: none;
}

button[type=submit] {
	border: 0;
	background: #c1e6ff;
	color: #7d98ab;
	border-radius: 6px;
	padding: 10px 20px;
	cursor: pointer;
}

#map {
	height: 100%;
    min-height: 600px;
	width: 100%;
}

#google-maps {
	height: 100%;
	background: red;
	width: 800px;
}

#back-to-top {
    z-index: 999;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	padding: 10px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
    border: 0px none;
    border-radius: 30px;
    padding: 14px;
}



/* CSS for the hamburger menu */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    font-weight: bold;
    color: #fff;
}

#header .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

#header .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

/* Hamburger animation styles */
#header .hamburger span:nth-child(1) {
    transform-origin: top left;
}

#header .hamburger span:nth-child(3) {
    transform-origin: bottom left;
}

#header .hamburger.nav-open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

#header .hamburger.nav-open span:nth-child(2) {
    opacity: 0;
}

#header .hamburger.nav-open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

#header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header nav ul li {
    margin-left: 20px;
}

.fixed-header {
    padding: 20px;
}

.fixed-header nav {
    margin-right: 40px;
}

.glide__arrow--right, .glide__arrow--left {
    background: #7fb5dfdb !important;
}

@media screen and (max-width: 768px) {
    #header .logo {
        font-size: 18px;
    }

    #header .hamburger {
        display: flex;
    }

    #header nav {
        display: none;
    }
    #header nav ul {
        flex-direction: column;
        align-items: flex-start;
        background-color: #5a6c87;
        padding: 20px;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    #header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    #header.nav-open nav ul {
        display: flex;
    }

    .highlight-cards {
        flex-direction: column;
    }

    .hamburger.nav-open {
        position: absolute;
        right: 10px;
    }

    .glide__slide img {
        height: 220px;
    }

    #contact-form {
        flex-direction: column;
        padding: 8px;
    }

    #contact-form > * {
        margin-top: 8px;
    }

    #name, #email {
        margin-right: 0;
    }
}